* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

#projetos {
    background-color: rgb(6, 160, 180);
}

.centralizador-projetos {
    padding-top: 93px;
}

.titulo-projeto {
    text-align: center;
    padding-bottom: 70px;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
}

.github {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: ease-in-out 0.3s;
    display: inline;
}

.github:hover {
    color: rgb(12, 105, 117);
}

.repositorio {
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 93px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.projeto1 {
    background-image: url(../img/calendario.png);
    background-position: center;
    background-size: cover;
    height: 195px;
    width: 310px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    text-decoration: none;
}

.projeto2 {
    background-image: url(../img/login1.png);
    background-position: center;
    background-size: cover;
    height: 195px;
    width: 310px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.projeto3 {
    background-image: url(../img/form1.png);
    background-position: center;
    background-size: cover;
    height: 195px;
    width: 310px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none; 
}

.projeto1 p {
    visibility: hidden;
    padding: 30px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-indent: 0;
}

.projeto1:hover p {
    visibility: visible;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    opacity: 80%;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    transition: all ease 0.5s;
}

.projeto2 p {
    visibility: hidden;
    padding: 40px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-indent: 0;
}

.projeto2:hover p {
    visibility: visible;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    opacity: 80%;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    transition: all ease 0.5s;
}

.projeto3 p {
    visibility: hidden;
    padding: 30px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-indent: 0;
}

.projeto3:hover p {
    visibility: visible;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    opacity: 80%;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    transition: all ease 0.5s;
}

.projetos-itens {
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
}
