* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.footer {
    width: 100%;
    background-color: rgb(21, 115, 129);
    display: flex;
    padding: 32px;
}

.footer-conteiner {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-texto {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 10px 0;
    align-items: center;
}

@media (max-width: 950px) {
    .footer-texto {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .footer-texto {
        font-size: 20px;
        text-align: center;
    }
}

@media (max-width: 465px) {
    .footer-texto {
        font-size: 15px;
        text-align: center;
    }
}

@media (max-width: 375px) {
    .footer-texto {
        font-size: 20px;
        text-align: center;
    }
}
